/* colors::after
deep green: #025928
sage-ish: #9BBF9D
grey: #D8D9D7
light green: #CED9B8
black: #0D0D0D
*/

body {
  margin: 0;
}

#home-content-container {
  display: flex;
}

#sideNav {
  margin-top: 10px;
  /* text-align: center; */
}
#side-bar {
  flex-direction: column;
}
#productByTagContainer {
  text-align: center;
}
#productByTagTitle {
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
}

#message-alert-div {
  position: fixed;
  top: 50vh;
  left: 25vw;
  width: 50vw;
  height: 25vh;
  background-color: green;
  z-index: 9999;
}

.display-none {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-buttons button {
  margin: 5px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 20pt;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

#register-form button {
  color: white;
  border: none;
}

#productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  /* justify-content: start; */
  justify-content: space-evenly;
}

#pastOrderContainer {
  width: 66vw;
  margin-left: 10px;
}
#userInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 34vw;
}

#userProfileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
