.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#singleProductPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#singleProductContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 40vw;
  height: 30%;
}

#reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#reviewCard {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40vw;
}
#createReviewContainer {
  display: flex;
  width: 40vw;
}

#createReviewCard {
  width: 732px;
}

#description {
  width: 40vw;
  border: 2px solid black;
}

#reviews {
  width: 40vw;

  border: 2px solid black;
}

#create-review {
  display: none;
}
